body{
	background: url(images.jpg) no-repeat center
	center fixed;
	background-size: cover;
}

#home {
	width: 100%;
	height: 1000px;
	margin: 0 aauto;
	padding: 12px;
	background: rgba(255,255,255,.9);

}
#pinturas {
width: 100%;
	height: 1000px;
	margin: 0 aauto;
	padding: 12px;
	background: rgba(255,0,0,.9);

}
article {

}
img{

}
h2{

}
p{

}