body{
	background: url(images.jpg) no-repeat center
	center fixed;
	background-size: cover;
}

#home {
	width: 100%;
	height: 1000px;
	margin: 0 aauto;
	padding: 12px;
	background: rgba(255,255,255,.9);

}
#pinturas {
width: 100%;
	height: 1000px;
	margin: 0 aauto;
	padding: 12px;
	background: rgba(255,0,0,.9);

}
article {
	width: 30%;
	height: auto;
	margin: 0 aauto;
	padding: 12px;
	background: rgba(255,0,0,.9);

}

}
img{
	width: 100%;
	max-width: 100%
}
h2{
	font-family: sans-serif;
	font-size: 24px;
	font.font-weight: bold;


}
p{
	font-family: sans-serif;;
	font-size: 12px;


}